__pycache__
.terraform
*.tfstate*
*.backup
*.lock.hcl
id_rsa*
*.tf
.tmp
logs/
*package-lock.json
*node_modules
scripts/*.csv
scripts/*.pdf
*.out
.idea
resource_manager/kubecontrol/cloud/containerd-shim-wasmedge-v1
resource_manager/kubecontrol/cloud/containerd-shim-wasmer-v1
resource_manager/kubecontrol/cloud/containerd-shim-wasmtime-v1
resource_manager/kubecontrol/cloud/containerd
resource_manager/kubecontrol/cloud/containerd-shim
resource_manager/kubecontrol/cloud/containerd-shim-runc-v1
resource_manager/kubecontrol/cloud/containerd-shim-runc-v2
resource_manager/kubecontrol/cloud/runc